*{
    font-family: Arial, Helvetica, sans-serif;
}

header .container{
    color: #AAA;
    padding: 20px;
    border-bottom: 1px solid #aaa;
}
.container {
    width: 80%;
    margin: 15px auto;
    padding: 0 15px;
}

footer .container{
    border-top: 1px solid #aaa;
    padding: 30px;
    border-top: 1px solid #999;
    font-size: 14px;
}

p{
    font-weight: bold;
    color: #333;
}

footer p {
    color: #AAA;
}

